.stack{
    padding: 40px 0;
    &__title{
        text-align: center;
        text-transform: uppercase;
        text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        font-size: 40px;
    }

    &__content{
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }

    &__gun{
        width: 40%;
    }

    .gun-shop{
        width: 300px;
        height: 300px;
        background-color: darkslategray;
        border-radius: 50%;
        border: 5px double #fff;
        position: relative;
        margin: 0 auto;
    }

    .chamber{
        width: 70px;
        height: 70px;
        background-color: slategray;
        border: 3px solid #fff;
        border-radius: 50%;
        position: absolute;
    }
    .chamber-6 {
        top: 10%;
        left: 25%;
    }
    .chamber-5 {
        top: 10%;
        right: 25%;
    }
    .chamber-4 {
        top: 40%;
        right: 10%;
    }
    .chamber-3 {
        bottom: 10%;
        right: 25%;
    }
    .chamber-2 {
        bottom: 10%;
        left: 25%;
    }
    .chamber-1 {
        top: 40%;
        left: 10%;
    }
    .ratchet{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border: 10px solid #000;
        border-radius: 50%;
    }

    .playerShoot{
        background-color: rgb(144, 112, 117);
    }

    .botShoot {
        background-color: rgb(76, 14, 112);
    }

    &__player{
        padding: 50px 0;
        width: 25%;
        text-align: center;
    }

    &__player-title{
        font-size: 25px;
        margin-bottom: 10px;
        text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    &__buttons{
        padding: 10px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 60%;
    }

    .chamber-player, .chamber-bot {
        width: 70px;
        height: 70px;
        border: 3px solid #fff;
        border-radius: 50%;
        margin: 0 auto;
    }

    &__button{
        padding: 20px 0px;
        width: 45%;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.3s ease-in-out;
        border-radius: 5px;
    }

    .shoot{
        background: chocolate;
        &:hover {
            transform: scale(0.9);
            box-shadow: inset 0px 0px 20px 20px maroon;
        }
    }

    .refill{
        background: green;
        &:hover {
            transform: scale(0.9);
            box-shadow: inset 0px 0px 20px 20px yellowgreen;
        }
    }

    .disabled {
        background-color: gray;
        pointer-events: none;
        &:hover{
            transform: unset;
            box-shadow: unset;
        }
    }
}

.score {
    padding: 10px 0 0;
    font-size: 20px;
    font-weight: 700;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    width: 400px;
    text-align: center;
    border-radius: 5px;

    &__title, &__content {
        margin-bottom: 15px;
    }

    &__sub-title {
        font-size: 22px;
    }

    &__restart {
        padding: 20px 0;
        background-color: yellowgreen;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.3s ease-in-out;
        border-radius: 0 0 5px 5px;
        &:hover {
            box-shadow: inset 0px 0px 20px 20px wheat;
        }
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000, 0.8);
}